@mixin flex-row-spaceBetween {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-spaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}