$color-white: #FFFFFF;
$color-black: #060b0f;
$color-blue: #290CFF;
$color-pink: #FF019A;
$color-purple: #b47dcd;

$mobile-width: 728px;
$desktop-width: 1024px;

$font-family: 'Play', sans-serif;

$max-width: 1280px;