@import './variables';
@import './containers';
@import './mixins';
@import './components/header';
@import './components/footer';
@import './pages/home';
@import './pages/contacto';
@import './pages/nosotros';
@import './pages/services';

body {
    font-family: $font-family;
    margin: 0;
    background: $color-black;
    color: $color-white;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

.--box-width {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
}

.borders {
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    padding: 30px;
}

.box-blue {
    @extend .borders;
    border-color: $color-blue;
}

.box-pink {
    @extend .borders;
    border-color: $color-pink;
}

.box-white {
    @extend .borders;
    border-color: $color-white;
}

.--blue-text,
.--hover-blue-text:hover {
    color: $color-blue;
}

.--pink-text,
.--hover-pink-text:hover {
    color: $color-pink;
}

.--white-text,
.--hover-white-text:hover {
    color: $color-white;
}

$botons : (
    background: $color-black,
    radius: 15px,
    fontSize: 20px,
    fontWeight: 700,
    height: 40px,
    fontFamily: $font-family,
    textTransform: uppercase
);

.btn {
    background-color: map-get($map: $botons, $key: background);
    border-radius: map-get($map: $botons, $key: radius);
    font-size: map-get($map: $botons, $key: fontSize);
    font-weight: map-get($map: $botons, $key: fontWeight);
    height: map-get($map: $botons, $key: height);
    font-family: map-get($map: $botons, $key: fontFamily);
    text-transform: map-get($map: $botons, $key: textTransform);
    border: 2px solid $color-blue;
    color: $color-pink;
}

/*  MOBILE  */
@media (max-width: $mobile-width) {
    .mobile-hide {
        display: none !important;
    }
}

/*  DESKTOP  */
@media (min-width: $desktop-width) {
    .desktop-hide {
        display: none !important;
    }
}